<div id="rent-animal" class="container mx-auto mt-5" style="width: 500px;">
  <h3>Add a animal</h3>
    <%= simple_form_for @animal do |f| %>
      <%= f.input :name, placeholder: 'Enter a name' %>
      <%= f.input :breed, placeholder: 'Enter a breed' %>
      <%= f.input :age, placeholder: 'Enter an age' %>
      <%= f.input :price, placeholder: 'Enter a price' %>
      <%= f.input :description, placeholder: 'Enter a description' %>
      <%= f.input :specie, collection: Animal::SPECIE %>
      <%= f.input :adress, placeholder: 'Enter an address', input_html: {id: "animal_address"}%>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: 'btn btn-flat' %>
      <%= link_to "Back", animals_path %>
    <% end %>
</div>
