
<body id="body-show">
  <div id="c-show" class="container">
    <%= cl_image_tag @animal.photo.key, class:"img-show" %>
    <div class="description-container">
            <h3 class="card-title"><strong><%= @animal.name %></strong></h3>
            <p class="card-text">Breed : <strong><%= @animal.breed %></strong></p>
            <p class="card-text">Address : <strong><%= @animal.adress %></strong></p>
            <p class="card-text">Age : <strong><%= @animal.age %></strong> year(s)</p>
            <p class="card-text">Price : <strong><%= @animal.price %></strong> euros</p>
            <p class="card-text">Description : <strong><%= @animal.description %></strong></p>
            <p class="card-text">specie : <strong><%= @animal.specie %></strong></p>
            <%= link_to "Rent", new_animal_booking_path(@animal), class: 'btn-flat'%>
    </div>
    <%# <a href="/animals"><i class="fas fa-undo-alt"></i></a> %>
    <div class="back-btn">
      <i class="fas fa-undo-alt"><%= link_to "Back", animals_path %></i>
    </div>
  </div>
</body>
