<div id="body-show">
  <div id="c-show" class="container">
    <%= cl_image_tag @animal.photo.key, class:"img-show" %>
    <div class="description-container">
            <h3 class="card-title"><strong><%= @animal.name %></strong></h3>
            <p class="card-text">breed : <strong><%= @animal.breed %></strong></p>
            <p class="card-text">Address : <strong><%= @animal.adress %></strong></p>
            <p class="card-text">Age : <strong><%= @animal.age %></strong> year(s)</p>
            <p class="card-text">Price : <strong><%= @animal.price %></strong> euros</p>
            <p class="card-text">Description : <strong><%= @animal.description %></strong></p>
            <p class="card-text">specie : <strong><%= @animal.specie %></strong></p>
            <% unless @animal.user == current_user %>
              <%= link_to "Rent", new_animal_booking_path(@animal), class: 'btn btn-flat'%>
            <% end %>
    </div>
    <div class="back-btn">
      <%= link_to "Back", root_path %>
    </div>
  </div>
</div>
